html,
body {

    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/* h1,
h2 {
    color: #ff6b28;
}

p {
    font-weight: bold;
    line-height: 26px;
} */

/* .main-container {
    width: 1000px;
    margin: 100px auto;

}

.conteudo {
    width: 800px;
    margin: 100px auto;
}

.conteudo ul {
    margin-top: 40px;
    margin-bottom: 60px;
}

.conteudo li {
    font-weight: bold;
    margin-top: 10px;
}

.conteudo .btn {
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    background-color: #ff6b28;
} */

.top-bar {
    background-color: #ff6b28;
    text-align: center;
    padding: 15px;
}

.header {
    height: 400px;
    background-image: url("./src/images/hero_bolo.jpg");
    background-size: cover;
    background-position: center;
}

.conteudo {
    margin: auto;
    max-width: 990px;
    padding: 0 40px;
    margin-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ff6b28;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.cartao {
    /* border: 1px solid black; */
    padding: 70px 100px;
    margin-top: 50px;
    border-radius: 20px;
}

.cartao:hover {
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}

.ingredientes {
    cursor: url("./src/images/cursor_ingredientes.png"), default;
}

.preparo {
    cursor: url("./src/images/cursor_preparo.png"), default;
}

.botao-comprar {
    padding: 16px;
    border-radius: 20px;
    background-color: #ff6b28;
    color: white;
}

a {
    text-decoration: none;
}

li {
    margin-bottom: 14px;
    font-weight: bold;
}

.lista-ingredientes {
    margin-bottom: 50px;
}